<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.cafeclaude\.com$ [NC]
    RewriteRule ^(.*)$ http://cafeclaude.com/$1 [L,R=301]
</IfModule>

AddType image/svg+xml svg svgz
AddEncoding gzip svgz

Header add X-Creator: "Created by Words Pictures Ideas"
Header set Connection keep-alive

<IfModule pagespeed_module>
ModPagespeed off 
#        ModPagespeedEnableFilters lazyload_images
        ModPagespeedEnableFilters extend_cache
#        ModPagespeedEnableFilters rewrite_images
        ModPagespeedEnableFilters convert_jpeg_to_webp
        ModPagespeedEnableFilters collapse_whitespace
        ModPagespeedEnableFilters combine_javascript
#        ModPagespeedEnableFilters rewrite_javascript
        ModPagespeedEnableFilters remove_comments
        ModPagespeedEnableFilters convert_meta_tags
        ModPagespeedEnableFilters flatten_css_imports
        ModPagespeedEnableFilters combine_css
        ModPagespeedEnableFilters insert_image_dimensions
#        ModPagespeedEnableFilters rewrite_css,sprite_images
        ModPagespeedEnableFilters convert_jpeg_to_progressive
</IfModule>


Redirect /downtown/ /downtown/menus/
Redirect /marina/ /marina/menus/