<div class="opentable-wrapper">
	<div class="opentable-widget">
<!-- 		<link href="http://www.opentable.com/ism/feed_alt.css" rel="stylesheet" type="text/css"/> -->
		<div id="OT_searchWrapperAll">
			<script type="text/javascript" src="http://www.opentable.com/ism/?rid=109153|Caf&eacute; Claude Marina,3592|Caf&eacute; Claude Downtown"></script>
			<noscript id="OT_noscript">
				<a href="http://www.opentable.com/single.aspx?rid=109153&restref=109153&rtype=ism">Reserve Now for Caf&eacute; Claude Marina on OpenTable.com</a>
				<a href="http://www.opentable.com/single.aspx?rid=3592&restref=3592&rtype=ism">Reserve Now for Caf&eacute; Claude on OpenTable.com</a>
				</noscript>
		</div>
	</div>
</div>