
<footer class="">
  <p><a class="gift-btn" href="https://secure.treatful.com/buy/Cafe-Claude?ref=1">Buy a Gift Certificate</a></p>
	<div id="social-images">
	  <a id="fb-footer" class="social-footer" href="https://www.facebook.com/pages/Gaspar-Brasserie/136751829829773?ref=hl"></a>
	  <a id="twitter-footer" class="social-footer" href="http://twitter.com/cafeclaude"></a>
	  <a id="yelp-footer" class="social-footer" href="http://www.yelp.com/biz/cafe-claude-san-francisco"></a>
	</div>
	<div id="footer-information">
	  Café Claude<br>
	  San Francisco, CA<br>
	  <a href="tel:415.252.3599">415.252.3599</a>
	  <br><br>
	  <a href="http://ui.constantcontact.com/d.jsp?m=1101147583029&p=oi" class="mail-sign-up">Sign up</a> for Cafe Claude's email list and receive information on upcoming parties and events!
	</div>
</footer>