<p>
	<a class="gift-btn" href="https://secure.treatful.com/buy/Cafe-Claude?ref=1">Buy a Gift Certificate</a>
	<!-- <a class="gift-btn" href="https://www.treatful.com/buy/Cafe-Claude---Marina?ref=1">Buy a Marina Gift Certificate</a> -->
</p>
<div id="social-images">
  <a id="fb-footer" class="social-footer" href="http://www.facebook.com/pages/San-Francisco-CA/Cafe-Claude/95707264605"></a>
  <a id="twitter-footer" class="social-footer" href="http://twitter.com/cafeclaude"></a>
  <a id="yelp-footer" class="social-footer" href="http://www.yelp.com/biz/cafe-claude-san-francisco"></a>
</div>
<div id="footer-information">
	<p class="section-content">
	  Café Claude<br>
	  San Francisco, CA<br>

	  <br><br>
	  <a href="http://ui.constantcontact.com/d.jsp?m=1101147583029&p=oi" class="mail-sign-up">Sign up</a> for Cafe Claude's email list and receive information on upcoming parties and events!
  </p>
</div>