{% include header.html %}
  <body>
   	<div class="container">
      {% include navigation.html %}
			<div class="row body-content">
    	 <div class="content-main">
					 {% include cafe-claude-logo.html %}
       		<p class="text-center section-title " id="page-title">{{page.title}}</p>
       		<hr>
     		{{ content }}         
   	  </div> <!-- content-main -->

				<div class="content-sidebar">
					{% include opentable-widget.html %}			
					{% include social.html %}
			</div>
   	</div> <!-- end row -->

{% include footer.html %}