{% include header.html %}
<body>
	<div class="container">
		{% include navigation.html %}
		<div class="row body-content">
			<div class="content-main">
				 {% include cafe-claude-logo.html %}
				<p class="text-center section-title " id="page-title">{{page.title}}</p>
				<hr>
				<section id="calendar">
					<div class="row">
						<h3 class="col-md-offset-2 col-md-10">{{ page.eventMonth }} </h3>
						<br>
					</div>
					<div class="row">
						<div class="multi-column-layout">
							{% for act in page.acts %}
							<h3 class="act-date"><time datetime="{{act.date}}" >{{act.date | date: " %A, %B %d"}}</time></h3>
							<p><span class="section-content act-artist">{{act.artist}}</span></p>
							<br>
							{% assign midway = page.acts.size | divided_by: 2 %}
							{% if forloop.index ==  midway %}
								</div>
								<div class="multi-column-layout">
							{% endif %}
							{% endfor %}
						</div> <!-- end multi-column-layout -->
					</div> <!-- end row -->
				</section>
			</div> <!-- end content-main -->
			
			<div class="content-sidebar">
					{% include opentable-widget.html %}			
					{% include social.html %}
			</div>
			
		</div> <!-- end row -->
{% include footer.html %}
