{% include header.html %}
<body>
	<div class="container">
		{% include navigation.html %}
		<div class="row">
			<div class="col-xs-12 col-md-3">
				{% include opentable-widget.html %}

			</div>
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				{% include cafe-claude-logo.html %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-main">
				<p class="text-center section-title">{{page.title}}</p>
				<hr>

				<section id="calendar">
					<h3>September 2013 Schedule&nbsp;&nbsp;|&nbsp;&nbsp;All acts perform 7:30pm - 10:30pm</h3>
					<br>
					<div class="row">
						<div class="multi-column-layout">
							{% for act in page.acts %}
							<h3><time datetime="{{act.date}}" >{{act.date | date: " %A, %B %d"}}</time></h3>
							<p><span class="section-content">{{act.artist}}</span></p>
							<br>
							{% assign midway = page.acts.size | divided_by: 2 %}
							{% if forloop.index ==  midway %}
						</div><div class="multi-column-layout">
							{% endif %}
							{% endfor %}
						</div>

					</div>

				</section>
			</div>
		</div>
		<div class="row">
			{% include social.html %}
		</div>
	</div>
{% include footer.html %}
