<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
   	<link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
   	<div class="container">
      {% include navigation.html %}
    	<div class="row">
    	  <div class="col-xs-12 col-md-3">
          {% include opentable-widget.html %}

    	  </div>
    	  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          {% include cafe-claude-logo.html %}
    	  </div>
    	</div>
    	
    	<div class="row">
    	  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 content-main">
        		<p class="text-center section-title">{{page.title}}</p>
        		<hr>
		<section id="calendar">

		<div class="col-xs-12 col-md-offset-2 col-md-12">
			<p>September 2013 Schedule&nbsp;&nbsp;|&nbsp;&nbsp;All acts perform 7:30pm - 10:30pm</p>
		</div>
		<div class="multi-column-layout">
		 {% for act in page.acts %}
    			<h3><time datetime="{{act.date}}" >{{act.date | date: " %A, %B %d"}}</time></h3>
    			<p><span class="section-content">{{act.artist}}</span></p>
					<br>
			{% assign midway = page.acts.size | divided_by: 2 %}
			{% if forloop.index ==  midway %}
			</div><div class="multi-column-layout">
			{% endif %}
  		{% endfor %}
		</div>
		</section>
    	  </div>
    	 </div>
      <div class="row">
        {% include social.html %}
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>